SENDER_EMAIL=youraddress@gmail.com
SENDER_APP_PASSWORD=your16charapppassword
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_DRY_RUN=true
IMAP_SERVER=imap.gmail.com
IMAP_PORT=993
TRUCKERDB_USERNAME=
TRUCKERDB_PASSWORD=
SENDER_NAME=Your Real Name
SENDER_TITLE=Your Real Title
SENDER_COMPANY=